.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px 100px;
  align-items: center;
 
}

.footer-texto {
  font-size: 1.5rem;
  width: 30ch;
  line-height: 1.33;
  color: #cccccc;
}

.contato {
  
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: -90px;
}

.contato h2 {
  font-family: 'Fira Sans', Arial, sans-serif;
  color: white;
  text-align: center; 
  font-size: 48px;
}

.footer-contato {
  display: flex;
  gap: 50px;
 justify-content: center;

}


.footer-contato li {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.1;
  color: #cccccc; 
}

.footer-contato li a {
  color: #cccccc;
  padding: 10px 20px;
  transition: 0.3s;
}


.footer-contato li a:hover {
  color: #a31cb5;
}

.footer-copy {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato {
    gap: 20px;
  }
  .footer-contato li {
    font-size: 1.5rem;
   
  }
  .contato {
    margin-top: 0px;
    gap: 20px;
  }
}
